@import url('https://fonts.googleapis.com/css?family=Concert+One|Montserrat');

.home-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(135deg,#00C4FF,#9D1BB2);
  height: 100vh;
}