<div style="text-align:center">
  <h1 *ngIf="!sessionService.user">Welcome to {{title}}!</h1>
  <h1 *ngIf="sessionService.user">Welcome {{sessionService.user.username}}!</h1>
</div>

<div>
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li *ngIf="!sessionService.user"><a [routerLink]="['/signup']">SignUp</a></li>
    <li *ngIf="!sessionService.user"><a [routerLink]="['/login']">LogIn</a></li>
    <li *ngIf="sessionService.user"><a [routerLink]="['/question-list']">OdonTest</a></li>
    <li *ngIf="sessionService.user"><a href="#" (click)="logout()">LogOut</a></li>
  </ul>
</div>

<router-outlet></router-outlet>