<div class="profile-container">
  <div>
    <h2 *ngIf="sessionService.user">Historial Diagnóstico de {{sessionService.user.username}}</h2>
  </div>
</div>

  <!-- <div>
    <div class="listdiaguser" *ngFor="let diaguser of diagnosisArray">
      <!-- <img [src]="diaguser.image" width=100/>
  <p>{{diaguser.diagnosis.pathology}}</p>
  <p>{{diaguser.created_at}}</p>
  <a [routerLink]="['/diagnosis', diaguser._id]">Ver diagnóstico</a>
</div> -->

<div class="container profile-container-2">
<div class="card text-center" *ngFor="let diaguser of diagnosisArray">
  <div class="card-body">
    <h5 class="card-title">{{diaguser.diagnosis.pathology}}</h5>
    <a [routerLink]="['/diagnosis', diaguser._id]" class="btn btn-outline-primary">Ver este Dianóstico</a>
  </div>
  <div class="card-footer text-muted">
    <p>{{diaguser.created_at|date}}</p>
  </div>
</div>
</div>