.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 15px;
  padding: 15px;
}

.questionlist-container{
  align-content: center;
  width: 100vW;
}

.tab-content {
  width: 100vw;
  margin-top: 25px;
}

.nav-item{
  margin: 0 auto;
}

.nav-pills .nav-link {
  pointer-events: none;
}