<div class="container" *ngIf="diaguser">
  <div class="link">
    <a [routerLink]="['/profile']">IR A TU PERFIL</a>
  </div>
  <div class="title-container">
    <h2>Este es el resultado de tu OdonTest {{diaguser.user.username}}</h2>
  </div>
  <div class="diagnosis-container">
    <h3>Posible Diagnóstico: </h3>
    <h4>{{diaguser.diagnosis.pathology}}</h4>
  </div>
  <div class="diagnosis-container">
    <h3>Tratamiento: </h3>
    <h4>{{diaguser.diagnosis.treatment}}</h4>
  </div>
  <div class="diagnosis-container">
    <h3>Información y Consejos: </h3>
    <h4>{{diaguser.diagnosis.tips}}</h4>
  </div>
</div>